{% extends "base.twig" %}
{% block title %}page d'accueil{% endblock %}
{% block content %}
   {{ msg }}
   {% if user is not defined %}
   <a href="connexion"> Pour encherir connetez vous</a>
  
   {% else %}
    <a href="accueil2 "><h4>Pour encherir cliquez ici </a>
   {% endif %}
            {% for produit in artlist %}
            {% for enchere in list %}
                <form action="" method="post">
                    <h2>{{produit.prix}}€</h2>
                    
                 
                 <img src="image/{{produit.image}}" alt="Image" height="200" width="150" />
                 <h5>Date debut :{{}}

                </form>
                
            {% endfor %}
            
{% endblock %}




