/*--------------------------------------------------------------------------
+	E-commerce Style
--------------------------------------------------------------------------*/
.shop-item {
  position: relative;
  background: #FFF;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 8px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
}
.shop-item img {
  max-width: 100%;
}
.shop-item .image {
  text-align: center;
}
.shop-item .title {
  padding: 20px 0 10px;
}
.shop-item .title h3 {
  font-size: 0.9em;
  margin: 0 10px;
  text-align: center;
}
.shop-item .title h3 a {
  color: #535b60;
  text-transform: uppercase;
}
.shop-item .colors {
  text-align: center;
  margin-bottom: 10px;
}
.shop-item .colors span {
  display: inline-block;
  *display: inline;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  margin: 2px;
}
.shop-item .price {
  color: #535b60;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
}
.shop-item .price .price-was {
  color: #A7A7A7;
  font-size: 0.8em;
  text-decoration: line-through;
}
.shop-item .description {
  color: #828282;
  font-size: 0.9em;
  text-align: justify;
  margin: 0 10px;
}
.shop-item .description p {
  border-top: 1px solid #ECECEC;
  padding: 10px;
  margin: 0;
}
.shop-item .actions {
  border-top: 1px solid #ECECEC;
  margin: 0 10px;
  padding-top: 20px;
  text-align: center;
}
.shop-item .actions span {
  font-size: 0.8em;
  white-space: nowrap;
}
.colors {
  text-align: center;
  margin-bottom: 10px;
}
.colors span {
  display: inline-block;
  *display: inline;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  margin: 2px;
}
span.color-white {
  background-color: #D7D7CF;
  border-color: #c0c0b3;
}
span.color-black {
  background-color: #000;
  border-color: #000000;
}
span.color-blue {
  background-color: #073A52;
  border-color: #031923;
}
span.color-orange {
  background-color: #D56E1D;
  border-color: #a85717;
}
span.color-green {
  background-color: #5C6632;
  border-color: #3d4421;
}
span.color-red {
  background-color: #DA1111;
  border-color: #ab0d0d;
}
/*--------------------------------------------------------------------------
+	Product Details Page Style
--------------------------------------------------------------------------*/
.product-image-large {
  border: 8px solid #FFF;
  text-align: center;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
}
.product-image-large img {
  max-width: 100%;
}
.product-details h4,
.product-details h5 {
  font-weight: 700;
}
.product-details h4 {
  margin-bottom: 20px;
}
.product-details h5 {
  margin-top: 20px;
}
.product-details .price {
  font-size: 1.4em;
  font-weight: 700;
  text-align: left;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  display: inline;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.product-details .price-was {
  text-decoration: line-through;
  font-size: 0.8em;
  font-weight: normal;
}
.product-details .shop-item-selections {
  width: 100%;
}
.product-details .shop-item-selections td {
  line-height: 36px;
}
.product-details .shop-item-selections td:first-child {
  width: 30%;
}
.product-details .choose-item-color span {
  display: inline-block;
  *display: inline;
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: -1px;
  margin-right: 2px;
}
.product-details-nav {
  margin-top: 30px !important;
  margin-left: 0 !important;
}
.product-detail-info {
  background: #fff;
  border-top: 0;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-color: #ddd;
  border-style: solid;
  padding: 20px 30px;
}
.product-detail-info p,
.product-detail-info ul {
  font-size: 0.9em;
}
.product-detail-info table {
  width: 100%;
}
.product-detail-info table td {
  font-size: 0.9em;
  width: 50%;
  line-height: 28px;
  border-bottom: 1px solid #E7E7E7;
}
.product-detail-info table td:first-child {
  font-weight: 600;
}
.product-detail-info table tr:last-child td {
  border-bottom: 0;
}
/*--------------------------------------------------------------------------
+	Shopping Cart Style
--------------------------------------------------------------------------*/
.shopping-cart {
  margin: 10px 0 0 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.shopping-cart a {
  color: #535b60;
}
.shopping-cart tr {
  background: #FFF;
}
.shopping-cart td {
  padding: 10px;
}
.shopping-cart td:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px 0 0 5px;
  -moz-background-clip: padding;
  border-radius: 5px 0 0 5px;
  background-clip: padding-box;
  margin-left: 10px;
}
.shopping-cart td:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 5px 5px 0;
  -moz-background-clip: padding;
  border-radius: 0 5px 5px 0;
  background-clip: padding-box;
  margin-right: 10px;
}
.shopping-cart .image,
.shopping-cart .image img {
  max-width: 150px;
}
.shopping-cart .title {
  font-size: 1.1em;
}
.shopping-cart .feature {
  font-size: 0.8em;
}
.shopping-cart .color span {
  display: inline-block;
  *display: inline;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
}
.shopping-cart .quantity {
  width: 80px;
}
.shopping-cart .price {
  color: #535b60;
  font-size: 1.2em;
  width: 80px;
  text-align: center;
}
.shopping-cart .actions {
  width: 80px;
}
.shopping-cart .actions .btn {
  margin-bottom: 5px;
}
.cart-totals {
  margin: 20px 0 30px 0;
  border-top: 2px solid #535b60;
  font-size: 1.1em;
  line-height: 24px;
  text-align: right;
  width: 100%;
}
.cart-totals td {
  width: 150px;
  padding: 3px 0;
}
.cart-totals .cart-grand-total {
  font-size: 1.3em;
}
@media (max-width: 500px) {
  .shopping-cart .image {
    display: none;
  }
  .cart-item-title {
    font-size: 0.8em;
  }
}
/*--------------------------------------------------------------------------
+	Products Slider Style
--------------------------------------------------------------------------*/
.products-slider .shop-item {
  border: 0;
  margin: 0;
  padding: 0;
  width: 25%;
  float: left;
  display: block;
  position: relative;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
}
.products-slider .shop-item img {
  -webkit-border-radius: 5px 5px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px 5px 0 0;
  -moz-background-clip: padding;
  border-radius: 5px 5px 0 0;
  background-clip: padding-box;
}
.products-slider .shop-item .title h3 a {
  font-size: 1em;
  font-weight: 400;
}
.products-slider .shop-item .price {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 10px;
}
.products-slider .shop-item .actions {
  padding: 10px 0;
}
@media (max-width: 768px) {
  .products-slider .shop-item {
    width: 34%;
  }
}
@media (max-width: 479px) {
  .products-slider .shop-item {
    width: 100%;
  }
}
/*--------------------------------------------------------------------------
+	404 Page Style
--------------------------------------------------------------------------*/
.error-page-wrapper {
  font-size: 1.5em;
  font-weight: 600;
  margin: 100px 0;
  text-align: center;
}